body{background-color: rgb(168,169,173);}
h1{color: black;
    text-align: center;
}

/*esto es un comentario */
/*esto es un
*comentario
*multilineal
*/

/*buscar una buena paleta de colores en "https://colorhunt.co/palettes"
https://colorhunt.co/palette/e8f9fd79dae80aa1dd2155cd*/


/*body{background-color: white;}*/

.footer{
    position: fixed;
    bottom: 0px;
}

.row {
    display: flex;
  }
  
.column { 
    flex: 50%;
  }

.col{border:2px solid black;
    width: 50%;
}

.navbar-expand{-sm|-md|-lg|-xl}

