body {
  background-color: white;
  max-width: 100%;
  overflow-x: hidden;
}

h1,
h5,
p,
a {
  text-align: center;
}

/*Banner*/
.bannerCentrado {
  position: relative;
  text-align: center;
  color: black;
}

.bannerTitulo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Carousel de Remeras*/
.carousel.slide {
  height: 700px;
  width: 480px;
  background: white;

  background-position: center;
  background-size: cover;
  margin: auto;
}

.carousel-caption {
  color: black;
  bottom: 0;
  padding-bottom: 0;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
}

.carousel-indicators {
  filter: invert(100%);
}

/*DiseñosRemeras*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.precio {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
  .row {
    flex-direction: column-reverse;
  }
}

.columnTalles {
  float: left;
  width: 50%;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
}

/*Pedidos*/
* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-50 {
  -ms-flex: 50%;
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  flex: 75%;
}

.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: blue;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.instagram {
  text-align: center;
}

footer {
  text-align: center;
}
