h1{color: red;}
/*esto es un comentario */
/*esto es un
*comentario
*multilineal
*/
/*body{background-color: white;}*/
body{background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Menem_con_banda_presidencial.jpg/1200px-Menem_con_banda_presidencial.jpg");}
li{color: orange}